@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}

<div class="">
    <br />
    <div class="row justify-content-center">
        <div class="col col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h6 class="card-title text-center">Inicia session en tu cuenta</h6>
                    <hr />
                    <div class="text-center">
                        <i class="fas fa-user-circle fa-6x " style="text-shadow: 3px 3px 8px #272634;"></i>
                    </div>
                    <br />
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row justify-content-center">
                            <div class="col col-md-8">
                                <div class="form-group">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text shadow" style="background-color:white;"><i class="fas fa-envelope"></i></div>
                                        </div>
                                        <input type="email" asp-for="Email" class="form-control shadow" id="inlineFormInputGroup" placeholder="name@example.com">
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text shadow" style="background-color:white;"><i class="fas fa-lock"></i></div>
                                        </div>
                                        <input type="password" asp-for="Password" class="form-control shadow" id="inlineFormInputGroup" placeholder="Password">
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <label asp-for="Remenber" class="form-check-label text-monospace text-justify" for="defaultCheck1">
                                        <input class="form-check-input shadow" asp-for="Remenber" type="checkbox">
                                        @Html.DisplayNameFor(m => m.Remenber)
                                    </label>
                                    

                                </div>
                                <br />
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-success btn-block shadow">Iniciar session</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                    <hr />
                    <h6 class="text-center">¿No tienes una cuenta? <a asp-area="" asp-controller="Loggin" asp-action="Registrar">Registrate</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>

